@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Shrikhand";
  background-color: rgb(125, 225, 252);
  color: rgb(73, 7, 134);
}

footer {
  background-color: rgb(125, 225, 252);
  text-align: center;
  width: 100%;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
}

.icon-elem {
  list-style: none;
}

.icon {
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
  flex-direction: row;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}

.menu-icon {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  transition: 0.3;
}

header {
  display: flex;
  background-color: rgb(125, 225, 252);
  align-items: center;
  padding: 10px;
}

ul li {
  list-style: none;
  display: inline;
  margin: 0px 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgb(89, 5, 145) !important;
}

@media (min-width: 1440px) {
  li.nombre {
    padding: 0px 400px 0px 0px;
  }
}
@media (min-width: 451px) { /*tablet*/
  .nombre {
    font-size: 50px;
    padding: 0px;
  }
  header .logo img {
    width: 125px;
    display: flex;
  }
}
@media (max-width: 450px) { /*celular*/
  .logo img {
    display: inline;
    width: 69px;
  }
  li .nombre {
    font-size: 20px;
    padding: 0px 0px 0px 0px;
  }
}
.navbar-nav {
  flex-direction: column;
}
.navbar-nav .nav-item {
  width: 100%;
  text-align: center;
  margin: 0;
}
.navbar-nav .nav-item a {
  padding: 10px;
  display: block;
}

/*pc*/
@media (max-width: 1024px) {
  h1 {
    color: rgb(182, 3, 107);
    text-align: center;
    margin: 10px;
  }
  p {
    color: rgb(182, 3, 107);
    text-align: center;
    margin: 10px;
  }
  .estrella1, .estrella5, .kiss2, .estrella4 {
    display: none;
  }
  .estrellaextra {
    margin-top: 20px;
    width: 80px;
    margin-left: 300px;
  }
  .kiss {
    width: 80px;
    margin-left: 830px;
    margin-bottom: 10px;
  }
  .kiss1 {
    width: 80px;
    margin-top: 300px;
    margin-right: 15px;
  }
  .estrella2 {
    width: 80px;
    margin-top: 50px;
  }
  /*estickers de brillo del lado izquierdo*/
  .estrella3 {
    width: 70px;
    margin-top: 100px;
    margin-left: 15px;
  }
  .kiss3 {
    width: 80px;
    margin-top: 450px;
  }
  .estrella6 {
    width: 80px;
    margin-left: 90px;
  }
  .tarjeta {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .dibujoemilia {
    margin-left: 50%;
    width: 400px;
  }
  body .portada {
    text-align: center;
    background-color: rgba(253, 3, 120, 0.692);
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .portada .img {
    text-align: center;
  }
  .cd img {
    width: 400px;
  }
  body .btn {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: none;
  }
  .btn {
    background-image: linear-gradient(0deg, #f80459, #ea7aa4);
    border: 7px solid #ed4b84;
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
  }
  main {
    background-color: rgb(252, 121, 182);
  }
  main .btn a {
    text-align: center;
  }
}
@media (min-width: 1025px) {
  h1 {
    color: rgb(182, 3, 107);
    text-align: center;
    margin: 10px;
  }
  p {
    color: rgb(182, 3, 107);
    text-align: center;
    margin: 10px;
  }
  /*estickers de brillo del lado derecho*/
  .estrellaextra {
    width: 80px;
    margin-left: 300px;
  }
  .kiss {
    margin-top: 20px;
    width: 110px;
    margin-left: 700px;
  }
  .estrella1 {
    width: 80px;
    margin-top: 500px;
  }
  .kiss1 {
    width: 110px;
    margin-top: 300px;
    margin-right: 15px;
  }
  .estrella2 {
    width: 110px;
    margin-top: 50px;
  }
  .kiss2 {
    width: 70px;
    margin-top: 600px;
  }
  /*estickers de brillo del lado izquierdo*/
  .estrella3 {
    width: 70px;
    margin-top: 100px;
    margin-left: 15px;
  }
  .kiss3 {
    width: 80px;
    margin-top: 450px;
  }
  .estrella4 {
    width: 100px;
    margin-top: 250px;
  }
  .estrella5 {
    width: 70px;
    margin-top: 700px;
  }
  .estrella6 {
    width: 130px;
    margin-left: 150px;
  }
  .tarjeta {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .dibujoemilia {
    margin-left: 400px;
    width: 550px;
  }
  body .portada {
    text-align: center;
    background-color: rgba(253, 3, 120, 0.692);
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .portada .img {
    text-align: center;
  }
  .cd img {
    width: 400px;
  }
  body .btn {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: none;
  }
  .btn {
    background-image: linear-gradient(0deg, #f80459, #ea7aa4);
    border: 7px solid #ed4b84;
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
  }
  main {
    background-color: rgb(252, 121, 182);
  }
  main .btn a {
    text-align: center;
  }
}
/*tablet*/
@media (max-width: 768px) {
  h1 {
    color: rgb(182, 3, 107);
    text-align: center;
    margin: 10px;
  }
  p {
    color: rgb(182, 3, 107);
    text-align: center;
    margin: 10px;
  }
  .estrellaextra, .estrella1, .estrella2, .estrella3, .estrella4, .estrella5, .estrella6, .kiss, .kiss1, .kiss2, .kiss3 {
    display: none;
  }
  .tarjeta {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .dibujoemilia {
    width: 480px;
    margin-left: 100px;
  }
  body .portada {
    text-align: center;
    background-color: rgba(253, 3, 120, 0.692);
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .portada {
    margin-top: 30px;
  }
  .portada .img {
    text-align: center;
  }
  .cd img {
    width: 400px;
  }
  body .btn {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: none;
  }
  .btn {
    background-image: linear-gradient(0deg, #f80459, #ea7aa4);
    border: 7px solid #ed4b84;
    color: #fff;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
  }
  main {
    background-color: rgb(252, 121, 182);
  }
  main .btn a {
    text-align: center;
  }
}
/*celular*/
@media (max-width: 767px) {
  h1 {
    color: rgb(182, 3, 107);
    text-align: center;
    margin: 10px;
    font-size: 25px;
  }
  .titulocarta {
    width: 200px;
  }
  p {
    color: rgb(182, 3, 107);
    text-align: center;
    margin: 10px;
  }
  .estrellaextra, .estrella1, .estrella2, .estrella3, .estrella4, .estrella5, .estrella6, .kiss, .kiss1, .kiss2, .kiss3 {
    display: none;
  }
  .portadaImagen {
    width: 300px;
  }
  .tarjeta {
    margin: 20px;
    text-align: center;
    justify-content: center;
  }
  body .portada {
    text-align: center;
    background-color: rgba(253, 3, 120, 0.692);
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .portada {
    margin-top: 30px;
  }
  .portada .img {
    text-align: center;
  }
  body .btn {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: none;
  }
  .btn {
    background-image: linear-gradient(0deg, #f80459, #ea7aa4);
    border: 7px solid #ed4b84;
    color: #fff;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
  }
  .dibujoemilia {
    width: 350px;
    margin-left: 20px;
  }
  main {
    background-color: rgb(252, 121, 182);
  }
  main .btn a {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .portadaImagen {
    width: 286px;
  }
  .dibujoemilia {
    width: 300px;
    margin-left: 20px;
  }
}
@media (min-width: 701px) {
  .bodytour {
    background-color: rgb(125, 225, 252);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .maintour {
    background-color: rgb(252, 121, 182);
  }
  .containertour {
    width: 100%;
    padding: 20px;
  }
  .evento {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid;
  }
  .evento h2 {
    margin: 0 0 10px 0;
  }
  .evento:last-child {
    border-bottom: none;
  }
  .fecha, .pais, .lugar {
    flex: 1;
    text-align: center;
  }
  button {
    display: flex;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .bodytour {
    background-color: rgb(125, 225, 252);
    align-items: center;
  }
  button {
    display: flex;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  .fecha, .boton, button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .containertour, .boton .evento, button {
    justify-content: center;
    align-items: center;
  }
}
.container-fluid {
  list-style: none;
}

.mainNoticias {
  width: 100%;
  background-color: rgb(252, 121, 182);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  grid-auto-flow: dense;
}

@media (max-width: 768px) {
  .mainNoticias {
    grid-template-columns: 1fr;
  }
}
.noticia {
  background-color: rgba(253, 3, 120, 0.575);
  border-radius: 10px;
  overflow: auto;
  margin: 10px;
}
.noticia img {
  max-width: 100%;
  padding: 10px;
}

.tituloNoticia {
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

.vermas {
  background-color: rgb(125, 225, 252);
  border: none;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
  margin: 10px;
}

.contenedorfotos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  background-color: rgb(252, 121, 182);
  gap: 10px;
  padding: 10px;
  grid-auto-flow: dense;
}

.foto1 img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto2 img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto3 img {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.foto4 img {
  width: 100%;
  display: flex;
  align-items: center;
}

.foto5 img {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.foto6 img {
  width: 100%;
  display: flex;
  align-items: center;
}

.foto7 img {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.foto8 img {
  width: 100%;
  display: flex;
  align-items: center;
}

.foto10 img {
  width: 100%;
  display: flex;
  align-items: center;
}

.foto11 img {
  width: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .wide {
    grid-column: span 2;
  }
  .tall {
    grid-row: span 2;
  }
  .foto5 {
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .contenedorfotos {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: minmax(200px, auto);
  }
}
@media (min-width: 1200px) {
  .contenedorfotos {
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-auto-rows: minmax(200px, auto);
  }
}
@media (min-width: 1440px) {
  .contenedorfotos {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
  }
}
@media (min-width: 2560px) {
  .contenedorfotos {
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-auto-rows: minmax(200px, auto);
  }
}
@media (min-width: 1440px) {
  body {
    background-color: rgb(125, 225, 252);
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .mainnews {
    background-color: rgb(252, 121, 182);
  }
  .newsletter-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
  }
  .newsletter-container h2 {
    margin-bottom: 20px;
  }
  .newsletter-container label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
  }
  .newsletter-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .newsletter-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .newsletter-container button:hover {
    background-color: #0056b3;
  }
}
@media (max-width: 1439px) {
  body {
    background-color: rgb(125, 225, 252);
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .mainnews {
    background-color: rgb(252, 121, 182);
  }
  .newsletter-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
  }
  .newsletter-container h2 {
    margin-bottom: 20px;
  }
  .newsletter-container label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
  }
  .newsletter-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .newsletter-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  .newsletter-container button:hover {
    background-color: #0056b3;
  }
}
@media (max-width: 1023px) {
  body {
    background-color: rgb(125, 225, 252);
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .mainnews {
    background-color: rgb(252, 121, 182);
  }
  .newsletter-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-left: 15%;
  }
  .newsletter-container h2 {
    margin-bottom: 20px;
  }
  .newsletter-container label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
  }
  .newsletter-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .newsletter-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    padding-left: 42%;
  }
  .newsletter-container button:hover {
    background-color: #0056b3;
  }
}
@media (max-width: 766px) {
  .newsletter-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  .newsletter-container h2 {
    margin-bottom: 20px;
  }
  .newsletter-container label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
  }
  .newsletter-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .newsletter-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    padding-left: 10%;
  }
}

/*# sourceMappingURL=estilos.css.map */
